@using Efeu.Integration.Entities
@model BehaviourEntity;
<div>@($"{Model.Name} - v{Model.Version}") <a href="/Behaviour/@Model.Id/Latest">latest</a></div>
<form hx-post="/Behaviour/@Model.Id/Publish" hx-encoding="multipart/form-data">
    <input type="file" name="file" accept="application/json" />
    <button type="submit">publish</button>
</form>

@{
}
