<dialog hx-dialog>
    <div>
        Create Effect
    </div>
    <button hx-dialog-close class="button button-primary">x</button>
    <div class="spacer-lg-v"></div>
    <form hx-post="/Effect" autocomplete="off">
        <div class="input-field">
            <label for="type" class="input-field-label">Type</label>
            <input type="text" name="type" autofocus class="input" style="width: 100%" />
        </div>
        <div class="spacer-md-v"></div>
        <div class="input-field">
            <label for="tag" class="input-field-label">Tag</label>
            <select type="text" name="tag" class="input" style="width: 100%">
                <option value="Data">Data</option>
                <option value="Effect">Effect</option>
                <option value="Result">Result</option>
                <option value="Fault">Fault</option>
            </select>
        </div>
        <div class="spacer-md-v"></div>
        <div class="input-field">
            <label for="matter" class="input-field-label">Matter</label>
            <input type="text" name="matter" class="input" style="width: 100%"/>
        </div>
        <div class="spacer-md-v"></div>
        <div class="input-field">
            <label for="json" class="input-field-label">Data</label>
            <textarea placeholder="{ ... }" type="text" name="json" class="input" style="width: 100%; resize: vertical; height: 4rem;"></textarea>
        </div>
        <div class="spacer-lg-v"></div>
        <button hx-dialog-close class="button" type="button">cancel</button><button type="submit" class="button button-primary">emit</button>
    </form>
</dialog>
