@using Efeu.Integration.Entities
@model BehaviourDefinitionEntity;
<div>@($"{Model.Name} - v{Model.Version}") </div>
<form hx-post="/Definition/1/Publish" hx-encoding="multipart/form-data">
    <input type="file" name="file" accept="application/json" />
    <button type="submit">publish</button>
</form>

@{
}
