@using Efeu.Integration.Entities
@model BehaviourDefinitionEntity[];

<div>
    <form hx-post="/Definition" hx-encoding="multipart/form-data">
        <input type="text" name="name" accept="application/json" />
        <button type="submit">create</button>
    </form>
</div>

<form hx-post='/test' hx-ext='json-enc'>
    <input type="text" name="name" accept="application/json" />
    <button type="submit">test</button>
</form>

@foreach (BehaviourDefinitionEntity entity in Model)
{
    <div>
        <a href="/Definition/@entity.Id")">@($"{entity.Name} - v{entity.Version}")</a>
        <button hx-delete="/Definition/@entity.Id">delete</button>
    </div>
}

@{

}
