<form hx-post="/Script/Run" hx-target="#output">
    <textarea name="script"></textarea>
    <button type="submit">run</button>
</form>

<div style="margin-top: 1rem"></div>
<textarea id="output" name="script" readonly></textarea>

@{
}
