@using Efeu.Application.Views.Editor
@using Efeu.Runtime.Model
@model WorkflowActionNode

<table class="action_node" id="@Model.Id" _="install efeuEditorActionNode">
	<tr class="action_node_section" route>
		<td>
			<div class="action_node_input">
				@Model.Name
				<div inp _="install efeuEditorActionNodeInput"></div>
			</div>
		</td>
		<td>
			<div class="action_node_output">
				Then
				<div out _="install efeuEditorActionNodeOutput"></div>
			</div>
			@foreach (KeyValuePair<string, int> routeNode in Model.Routes)
			{
				<div class="action_node_output">
					@routeNode.Key
					<div out _="install efeuEditorActionNodeOutput"></div>
				</div>
			}
			<div class="action_node_output">
				Error
				<div out _="install efeuEditorActionNodeOutput"></div>
			</div>
		</td>
	</tr>
	<tr class="action_node_section" do>
		<td>
		</td>
		<td>
			<div class="action_node_output">
				do
				<div out _="install efeuEditorActionNodeOutput"></div>
			</div>
			<div class="action_node_output">
				context
				<div out _="install efeuEditorActionNodeOutput"></div>
			</div>
		</td>
	</tr>
	<tr class="action_node_section" io>
		<td>
			@{
				WorkflowInputNodeViewModel input = new WorkflowInputNodeViewModel()
				{
					Input = Model.Input
				};
			}
			<partial name="ActionNodeInput" model="@input" />
		</td>
		<td>
			<div class="action_node_output">
				output
				<div out _="install efeuEditorActionNodeOutput"></div>
			</div>
		</td>
	</tr>
</table>