@{
    ViewData["Title"] = "Index";
}

<form id='form' hx-encoding='multipart/form-data' hx-post='ImportFile' hx-target="this" hx-swap="outerHTML">
    <input type="file" name="file" />
    <button>upload</button>
</form>

