.loader {
    position: fixed;
    width: 100%;
    background-color: var(--color-primary);
    height: 2px;
    opacity: 0;
	pointer-events: none;
    transition: opacity 1s;
}

    .loader.htmx-request {
        opacity: 0.5;
    }


header {
    background-color: var(--color-bg-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px -10px 15px black;
	flex-shrink: 0;
	padding-bottom: 0.5rem;
	padding-top: 0.75rem;
	width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
	flex-shrink: 0;
	width: 100%;
	flex-wrap: wrap;
}

.nav-item {
    color: var(--color-text-muted);
    text-decoration: none;
    height: 1.75rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
    line-height: 1.75rem;
    display: block;
    border-radius: 0.3rem;
    transition: background-color 80ms ease-out;
}

    .nav-item[active] {
        color: var(--white);
        background-color: var(--color-bg-light-active);
    }

    .nav-item:hover {
        color: var(--color-text);
        background-color: var(--color-bg-light-hover);
    }

    .nav-item[active]:hover {
        background-color: var(--color-bg-light-active-hover);
    }

	 .nav-item[active]:active {
        background-color: var(--color-bg-light-hover);
    }