
.behaviourStep {
    font-family: monospace;
    white-space: nowrap;
}

.stringLiteral {
    background-color: darkorange;
}

.decimalLiteral {
    background-color: aquamarine;
}

.floatLiteral {
    background-color: aquamarine;
}

.integerLiteral {
    background-color: aquamarine;
}

.booleanLiteral {
    background-color: rgb(255, 255, 0);
}

.nilLiteral {
    background-color: rgb(92, 92, 92);
}

.scriptLineValue {
    background-color: darkolivegreen;
}

.scriptValue {
    background-color: darkolivegreen;
}

.syntaxPunctuation {
    color: gray;
}
