
.behaviourStep {
    font-family: Consolas;
}

.stringLiteral {
    background-color: orange;
}

.decimalLiteral {
    background-color: aquamarine;
}

.floatLiteral {
    background-color: aquamarine;
}

.integerLiteral {
    background-color: aquamarine;
}

.booleanLiteral {
    background-color: yellow;
}

.nilLiteral {
    background-color: lightgray;
}

.scriptLineValue {
    background-color: lightgreen;
}

.scriptValue {
    background-color: lightgreen;
}

.synatxPunctuation {
    color: gray;
}