/* VARIABLES */
:root {
	--spacing-xs: 2px;
	--spacing-sm: 4px;
	--spacing-md: 8px;
	--spacing-lg: 16px;
	--spacing-xl: 24px;
	--grid-size: 8px;
	--border-width: 1px;
	--font-base: 'Roboto Mono', monospace;
	--font-size-sm: 12px;
	--font-size-md: 14px;
	--font-size-lg: 16px;
	/* --- Base Colors --- */
	--white: #ffffff;
	--black: #000000;
	--gray-100: #f8f9fa;
	--gray-200: #e9ecef;
	--gray-300: #dee2e6;
	--gray-400: #c0c4c9;
	--gray-500: #a0a9b1;
	--gray-600: #60686e;
	--gray-700: #3f454b;
	--gray-750: #363c41;
	--gray-800: #30363b;
	--gray-850: #1f2226;
	--gray-900: #16191c;
	--gray-1000: #0a0c0d;
	--red: #dc3545;
	--pink: #ff4081;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--blue: #086bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--cyan: #17a2b8;
	/* --- Semantic Colors --- */
	--color-primary: var(--blue);
	--color-primary-light: #63b3ff;
	--color-primary-dark: #0056b3;
	--color-success: var(--green);
	--color-success-light: #5cd65c;
	--color-success-dark: #1c7430;
	--color-warning: var(--yellow);
	--color-warning-light: #ffdd57;
	--color-warning-dark: #cc9a06;
	--color-danger: var(--red);
	--color-danger-light: #e66775;
	--color-danger-dark: #a71d2a;
	--color-info: var(--cyan);
	--color-info-light: #5bc0de;
	--color-info-dark: #117a8b;
	--color-accent: var(--pink);
	--color-text: var(--gray-200);
	--color-text-muted: var(--gray-500);
	--color-bg: var(--gray-1000);
	--color-bg-light: var(--gray-900);
	--color-bg-light-hover: var(--gray-850);
	--color-bg-light-active: var(--gray-850);
	--color-bg-light-active-hover: var(--gray-800);
	--color-border: var(--gray-800);
}


/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
dialog {
	font-family: var(--font-base);
	font-size: var(--font-size-md);
	background-color: var(--color-bg);
	color: var(--color-text);
	line-height: 1.4;
}

main {
	padding: var(--spacing-lg);
}

a {
	color: var(--color-primary);
}

.spacer-xs-v {
	height: var(--spacing-xs);
}

.spacer-sm-v {
	height: var(--spacing-sm);
}

.spacer-md-v {
	height: var(--spacing-md);
}

.spacer-lg-v {
	height: var(--spacing-lg);
}

.spacer-xl-v {
	height: var(--spacing-xl);
}


.spacer-xs-h {
	width: var(--spacing-xs);
}

.spacer-sm-h {
	width: var(--spacing-sm);
}

.spacer-md-h {
	width: var(--spacing-md);
}

.spacer-lg-h {
	width: var(--spacing-lg);
}

.spacer-xl-h {
	width: var(--spacing-xl);
}

/* GRID & LAYOUT */
.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--grid-size);
	padding: var(--spacing-lg);
}

.col-12 {
	grid-column: span 12;
}

.col-6 {
	grid-column: span 6;
}

.col-4 {
	grid-column: span 4;
}

.col-3 {
	grid-column: span 3;
}

/* PANELS */
.panel {
	background-color: var(--color-panel);
	border: var(--border-width) solid var(--color-border);
	padding: var(--spacing-md);
	border-radius: 0;
	margin-bottom: var(--spacing-md);
}

.panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

/* BUTTONS */
.button {
	padding: var(--spacing-sm) var(--spacing-md);
	/* border: var(--border-width) solid var(--color-border); */
	border: none;
	background-color: var(--color-bg-light);
	color: var(--color-text);
	cursor: pointer;
	font-family: var(--font-base);
	font-size: var(--font-size-md);
	border-radius: 0.3rem;
	height: 1.75rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

.button:hover {
	background-color: var(--color-bg-light-hover);
	color: var(--white);
}

.button-primary {
	background-color: var(--color-primary);
	color: var(--white);
}

.button-primary:hover {
	background-color: var(--color-primary-light);
	color: var(--white);
}

/* INPUTS */
.input {
	padding: var(--spacing-sm);
	border: var(--border-width) solid var(--color-border);
	background-color: var(--color-bg-light);
	color: var(--color-text);
	border-radius: 0.25rem;
	font-family: var(--font-base);
	font-size: var(--font-size-md);
	height: 1.75rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.input:focus {
	outline: none;
	border-color: var(--color-primary);
	background-color: var(--color-bg-light);
}

.input-field {

}

.input-field-label {
	display: block;
	color: var(--color-text-muted);
	font-size: var(--font-size-md);
}

select.input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: var(--font-size-md);
}

table th,
table td {
	border: var(--border-width) solid var(--color-border);
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);
	text-align: left;
	height: 2rem;
}

table th {
	background-color: var(--color-bg-light);
	color: var(--white);
}

dialog {
	border-color: var(--color-border);
	border-width: var(--border-width);
	padding: var(--spacing-lg);
	margin: auto;
	border-radius: 0.5rem;
	width: 20rem;
}

dialog::backdrop {
	background-color: rgb(0 0 0 / 50%);
}